$font-family: "Helvetica Neue", Helvetica, STHeiTi, $font-family;

button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-tap-highlight-color: transparent;
}
