/* =================================================================
* Reset Stylesheet for Mobile
* Author:Bon
* Author URI:http://www.ccwebsite.com/
* Date:2015-05-29
* Last Update:2015-10-20
* Version:1.2.2
* ================================================================== */
html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  -webkit-user-select: none;
  user-select: none;
}

html, body, div, object, iframe, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, progress {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  background-color: transparent;
}

li {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -webkit-touch-callout: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

a, button, input, optgroup, select, textarea {
  -webkit-tap-highlight-color: transparent;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  line-height: normal;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/icon.eot");
  /* IE9*/
  src: url("../fonts/icon.eot") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg") format("svg");
  /* iOS 4.1- */
}
.icon {
  font-family: "iconfont" !important;
  font-style: normal;
}

.icon-facebook:before {
  content: "\e616";
}

.icon-twitter:before {
  content: "\e634";
}

.icon-clock:before {
  content: "\e6f6";
}

.icon-weibo:before {
  content: "\e619";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e735";
}

.icon-stackoverflow:before {
  content: "\e8a7";
}

.icon-author:before {
  content: "\e663";
}

.icon-linkin:before {
  content: "\e61d";
}

.icon-email:before {
  content: "\e609";
}

.icon-tag:before {
  content: "\e68e";
}

.icon-segmentfault:before {
  content: "\e610";
}

.icon-arror-r:before {
  content: "\e617";
}

.icon-arror-l:before {
  content: "\e618";
}

.icon-category:before {
  content: "\e627";
}

.icon-flickr:before {
  content: "\e73d";
}

.icon-website:before {
  content: "\e605";
}

/*
 * From https://github.com/pinggod/hexo-theme-apollo/blob/master/source/scss/_partial/post.scss
 */
code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

code {
  padding: 0.2em 0.4em;
  background-color: #efefef;
  border-radius: 3px;
}

pre .line {
  min-height: 1em;
}

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  border: 1px solid #eeeeee;
  overflow-x: auto;
}
.highlight table, .highlight tr, .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.highlight .gutter {
  display: none;
}
.highlight .code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
}

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600;
}

.highlight.html .code:after {
  content: "HTML";
}

.highlight.js .code:after {
  content: "JS";
}

.highlight.bash .code:after {
  content: "BASH";
}

.highlight.css .code:after {
  content: "CSS";
}

.highlight.scss .code:after {
  content: "SCSS";
}

.highlight.diff .code:after {
  content: "DIFF";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.xml .code:after {
  content: "XML";
}

.highlight.python .code:after {
  content: "PYTHON";
}

.highlight.json .code:after {
  content: "JSON";
}

.highlight.swift .code:after {
  content: "SWIFT";
}

.highlight.ruby .code:after {
  content: "RUBY";
}

.highlight.perl .code:after {
  content: "PERL";
}

.highlight.php .code:after {
  content: "PHP";
}

.highlight.c .code:after {
  content: "C";
}

.highlight.java .code:after {
  content: "JAVA";
}

.highlight.cpp .code:after {
  content: "CPP";
}

.highlight.ts .code:after {
  content: "TS";
}

.highlight.cpp .code:after {
  content: 'C++';
}

pre {
  color: #525252;
}
pre .function .keyword,
pre .constant {
  color: #0092db;
}
pre .keyword,
pre .attribute {
  color: #e96900;
}
pre .number,
pre .literal {
  color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983;
}
pre .title {
  color: #83B917;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3;
}
pre .deletion {
  color: #BA4545;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}

.page-header .background {
  width: 100%;
  height: 550px;
  background: black;
  overflow: hidden;
  position: relative;
}
.page-header .background img {
  display: block;
  width: 1920px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -960px;
  margin-top: -400px;
}
.page-header .author {
  background: #ecf0f1;
  text-align: center;
  padding-bottom: 30px;
}
.page-header .author .head {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  box-shadow: 0 0 5px #95a5a6;
  position: relative;
  top: -68px;
}
.page-header .author .head img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.page-header .author .name {
  font-size: 1.3rem;
  color: #2c3e50;
  position: relative;
  top: -50px;
}
.page-header .author .signature {
  font-size: .95rem;
  color: #7f8c8d;
  position: relative;
  top: -35px;
}

@media screen and (max-width: 1440px) {
  .page-header .background {
    height: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .page-header .background {
    height: 350px;
  }
  .page-header .background img {
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    margin-top: -250px;
  }
}
.post-header {
  width: 100%;
  background: black;
  overflow: hidden;
  position: relative;
}
.post-header img.background {
  display: block;
  width: 1920px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -960px;
  margin-top: -400px;
}
.post-header .post-title {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 230px 30px;
  text-align: center;
  position: relative;
  z-index: 66;
}
.post-header .post-title h1.title {
  font-size: 2.2rem;
  line-height: 40px;
  margin: 0;
}
.post-header .post-title ul.meta {
  display: inline-block;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  font-size: .75rem;
  line-height: 1.6;
}
.post-header .post-title ul.meta > li {
  margin: 0 12px;
  display: inline-block;
}
.post-header .post-title ul.meta > li i, .post-header .post-title ul.meta > li li {
  margin-right: .5em;
}
.post-header .post-title ul.meta > li ul, .post-header .post-title ul.meta > li li {
  display: inline;
}
.post-header .post-title ul.meta > li li a {
  color: white;
  transition: color .3s;
}
.post-header .post-title ul.meta > li li a:hover {
  color: #2980b9;
}
.post-header .post-title ul.meta > li li span {
  display: none;
}

@media screen and (max-width: 1440px) {
  .post-header .post-title {
    padding: 180px 30px;
  }
  .post-header .post-title h1.title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .post-header img.background {
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    margin-top: -250px;
  }
  .post-header .post-title {
    padding: 130px 30px;
  }
  .post-header .post-title h1.title {
    font-size: 1.6rem;
    line-height: 36px;
  }
}
.page-footer .top {
  background: #2c3e50;
  padding: 110px 15px;
}
.page-footer .top .social {
  text-align: center;
  font-size: 1.6rem;
}
.page-footer .top .social li {
  display: inline-block;
  padding: 0 15px;
}
.page-footer .top .social li a {
  color: white;
  transition: color .3s;
}
.page-footer .top .social li a:hover {
  color: #2980b9;
}
.page-footer .bottom {
  background: #34495e;
  padding: 30px 15px;
}
.page-footer .bottom .copyright {
  text-align: center;
  color: #ecf0f1;
  font-size: .9rem;
}

.post-list {
  max-width: 600px;
  margin: 72px auto 0 auto;
  padding: 0 36px;
}
.post-list > li {
  margin-bottom: 80px;
}
.post-list > li p.date, .post-list > li h4.title {
  font-weight: bold;
}
.post-list > li p.date {
  font-size: .75rem;
  line-height: 2.2;
  color: #2c3e50;
}
.post-list > li h4.title {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 10px 0;
}
.post-list > li h4.title a {
  color: #2c3e50;
  transition: color .3s;
}
.post-list > li h4.title a:hover {
  color: #2980b9;
}
.post-list > li .excerpt, .post-list > li .excerpt * {
  font-size: .9rem;
  color: #7f8c8d;
  line-height: 1.5;
}
.post-list > li .excerpt a, .post-list > li .excerpt * a {
  text-decoration: underline;
  transition: color .3s;
}
.post-list > li .excerpt a:hover, .post-list > li .excerpt * a:hover {
  color: #2980b9;
}
.post-list > li .meta {
  margin-top: 20px;
  border: 1px solid #ecf0f1;
  border-width: 1px 0;
  padding: 22px 10px;
  font-size: .75rem;
  color: #7f8c8d;
}
.post-list > li .meta > li {
  margin-right: 22px;
  display: inline-block;
}
.post-list > li .meta > li i, .post-list > li .meta > li li {
  margin-right: .5em;
}
.post-list > li .meta > li ul, .post-list > li .meta > li li {
  display: inline;
}
.post-list > li .meta > li li a {
  color: #7f8c8d;
  transition: color .3s;
}
.post-list > li .meta > li li a:hover {
  color: #2980b9;
}
.post-list > li .meta > li li span {
  display: none;
}

.post {
  max-width: 600px;
  margin: 72px auto 0 auto;
  padding: 0 36px;
  color: #2c3e50;
  font-weight: 300;
}

.pagination {
  text-align: center;
  margin-bottom: 80px;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: .85rem;
  margin: 3px;
  color: #34495e;
}
.pagination li.current a {
  background: #ecf0f1;
}
.pagination li.link a {
  transition: color .3s;
}
.pagination li.link a:hover {
  color: #2980b9;
}

/*# sourceMappingURL=main_style.css.map */
