ul.pagination
  if page.prev
    li.link
      a(href=url_for(page.prev_link))
        i.icon.icon-arror-left
  li.current
      a #{page.current}
  if page.next
    li.link
      a(href=url_for(page.next_link))
        i.icon.icon-arror-right