$color-white: rgba(255, 255, 255,1.0);
$color-cloud: rgba(236, 240, 241,1.0);
$color-silver: rgba(189, 195, 199,1.0);
$color-concrete: rgba(149, 165, 166,1.0);
$color-asbestos: rgba(127, 140, 141,1.0);
$color-wetAsphalt: rgba(52, 73, 94,1.0);
$color-midnightBlue: rgba(44, 62, 80,1.0);
$color-black: rgba(0, 0, 0,1.0);
$color-belizeHole: rgba(41, 128, 185,1.0);